<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="#">Inicio</a>
        </li>
        <li>
            <a href="#">
                Tutoriales
                <i class="fa fa-angle-down"></i>
            </a>
            <ul>
                <li><a href="#">Diseño Gráfico</a></li>
                <li><a href="#">Programación PHP</a></li>
                <li><a href="#">Maquetación CSS</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Servicios
                <i class="fa fa-angle-down"></i>
            </a>
            <ul>
                <li>
                    <a href="#">
                        Web Hosting
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">Hosting 10GB</a>
                        </li>
                        <li>
                            <a href="#">Hosting 25GB</a>
                        </li>
                        <li>
                            <a href="#">Hosting 50GB</a>
                        </li>
                        <li>
                            <a href="#">Hosting Ilimitado</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Dominios
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">Registrar</a>
                        </li>
                        <li>
                            <a href="#">Transferir</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Diseños Web</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>
