#somos{
	background-color: yellow;
	color: black; 
	width: 1000px; 
	height: 550px;
	background:url(../Imagen/descarga.jpg);  
	margin-left: 180px;
}

h1{
	text-align: center;
}

#omos{
	background-color: yellow;
	color: black; 
	width: 1000px; 
	height: 500px;
	background:url(../Imagen/ver.jpg);  
	margin-left: 180px;
}

h1{
	text-align: center;
}