
#art_left_admin{

	vertical-align: top;
	display: inline-block;

}

#art_center_admin{

	display: inline-block;
}

#admin_consola{

	margin: center;
	text-align: center;
	padding-top: 25px;
}

/*cuadro donde ba el titulo*/
#cuadro{

	background-color: #212121;
    margin-left: 250px;

    width: 800px;
    height: 100px;

}

h1{

  text-align: center;
  padding-top: 25px;
}

/*se le da forma el formulario de bonos*/
.formulario{
  margin: auto;
  padding: auto;
  width: 200px;
}

.titulo_bono{
	background-color:black;
	width: 800px;
	height: 100px;
	margin-left: 250px;
	color: white;
}
/*aqui termina bono*/

#Cat{
	text-align: center;
	padding-top: 25px;

}

Categoria{
	margin: auto;
  	padding: auto;
  	width: 200px;

}
>>>>>>> origin/master
